.toggle-component {
    margin-bottom: 2rem;
}
.toggle-component p {
    margin: .7rem 0;
}
.toggle {
    display: table;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 1rem;
}
.toggle input:focus + div {
    text-decoration: underline;
}
.toggle > div {
    cursor: pointer;
    border-radius: 2rem;
    width: 3rem;
    height: 1.5rem;
    background:#416283;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    -webkit-transition: 200ms ease-out;
    transition: 200ms ease-out;
    font-size: 0;
}
.toggle > div:before {
    will-change: translate;
    display: block;
    position: absolute;
    top: 16%;
    left: 6px;
    content: '';
    width: 1rem;
    height: 1rem;
    background: #2697ed;
    border-radius: 50%;
    -webkit-transition: 200ms;
    transition: 200ms;
}
.toggle > div:after {
    font-size: 1rem;
    position: absolute;
    left: 3.5rem;
    width: max-content;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: attr(data-off);
    pointer-events: none;
    font-weight: normal;
}
.toggle input:checked + div {
    background: #c5e1f7;
}
.toggle input:checked + div:before {
    color: #2697ed;
    -webkit-transform: translateX(280%);
    transform: translateX(280%);
    -webkit-transform: translateX(calc(2.5*100% + 4px));
    transform: translateX(20px);
    background:#2697ed;
}
.toggle input:checked + div:after {
    content: attr(data-on);
}